In [8]:
scores=[55,65,80,66,48,56,64,73,53,53]
sc_set=set(scores)
top max(sc_set)
sc_set.remove(top)
print(max(sc_set))

SyntaxError: invalid syntax (118318919.py, line 3)

In [2]:
scores=[55,65,80,66,48,56,64,73,53,53]
sc_set=set(scores)
top=max(sc_set)
sc_set.remove(top)
print(max(sc_set))

73

In [7]:
a={5,6,9,7,8,13}
b={1,5,4,8,12,6}
if a.intersection(b):
    print(a&b)
else:
        print(a.union(b))

{8, 5, 6}

In [2]:
D={'John' :[25,32,43],'Peter':[87,55,96],'Ram':[58,55,43],'Meena':[63,79,85]}
n=input('Enter the name to be updated')
if n in D:
    D[n] =[88,77,99]
    print(D)
else:
       print('name not found')

Enter the name to be updatedJohn
{'John': [88, 77, 99], 'Peter': [87, 55, 96], 'Ram': [58, 55, 43], 'Meena': [63, 79, 85]}

In [3]:
s='Nirmala'

In [4]:
s[::2]

'Nraa'

In [6]:
age=[23,28,36]
print('Elder =',max(age))
print('youngest=',min(age))

Elder = 36
youngest= 23